*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-link{
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
}

#home{
    margin-top: 6rem;
}
.welcome
{
    margin-bottom: 20px;
}
#services{
    padding: 80px 0;
}
.title{
    margin-bottom: 4rem;
}
.list li{
    list-style: none;
}